.adsbygoogle{
	background-color: $section-muted-background;
	clear: both;

	.entry-content & {
		margin: 3em 0;
	}

	iframe{
		margin: 0 !important;
		max-width: 100%;
	}
}

.entry-content .autors-widget {
	margin: 3em 0;
}
