.author-block {
	margin: $kyom-gap 0;

	box-sizing: border-box;
	padding: 2em;
	border-top: 1px solid $semi-light-grey;
	border-bottom: 1px solid $semi-light-grey;

	@include bp-max($breakpoint-smallphone) {
		padding: 1em;
	}


	&-title {
		font-size: 1.2em;
		font-family: $font-sans-bold;
		font-weight: normal;

		small {
			color: $global-muted-color;
		}
	}

	&-body {
		display: flex;

		@include bp-max($breakpoint-smallphone) {
			display: block;
			text-align: center;
		}
	}

	&-image {
		text-align: center;
		flex: 0 1 150px;
		@include bp-max($breakpoint-smallphone) {
			flex: 0 1 80px;
		}

		img {
			max-width: 100%;
			width: auto;
			height: auto;
			border-radius: 50%;
			filter: none;
			margin-bottom: 20px;
			@include bp-max($breakpoint-smallphone) {
				max-width: 120px;
			}
		}
	}

	&-content {
		padding-left: 2em;
		@include bp-max($breakpoint-smallphone) {
			padding-left: 0;
		}
	}

	&-description {
		p {
			font-size: 0.85em;
		}

		margin-bottom: 2em;
	}

	&-contact {
		&-title {
			font-size: 1em;
			font-family: $font-sans;
			margin-bottom: 1em;
		}

		&-links {
			a {
				margin-right: 0.5em;
				margin-bottom: 0.5em;
				background: #fff;
			}
		}

		&-link {

			&-method {
				@include bp-max($breakpoint-small-max) {
					display: none;
				}
			}
		}
	}


}
