.site-footer{

  padding: 40px 0;
  background-color: $kyom-body-bg-color;
  border-top: 1px solid $light-gray;

  &-social{
    margin-bottom: 40px;
    .uk-iconnav{
      justify-content: center;
    }
  }

  &-widgets{
    margin-bottom: 40px;
  }

  &-widget{
    width: 25%;
    box-sizing: border-box;
    @include bp-max( $breakpoint-medium ){
      width: 50%;
    }
    @include bp-max($breakpoint-small){
      width: 100%;
    }

    font-size: $kyom-font-size-sm;
    &-title{
      font-weight: $base-strong-font-weight;
      color: $body-font-muted-color;
      font-size: $kyom-font-size;
    }

  }

  &-copy{
    color: $global-muted-color;
    text-align: center;
    font-size: 12px;
    margin: 20px 0 0;
    a:link, a:visited{
      text-decoration: underline;
      color: $global-muted-color;
    }
    a:hover, a:active{
      text-decoration: none;
      color: $global-link-color;
    }
  }

}

.kyom-bottom-nav ul{
  font-size: 0.85rem;
  justify-content: center;
}
