
// Break point less than.
@mixin bp-max( $point ) {
  @media only screen and ( max-width: $point - 1 ){
    @content;
  }
}

// Break point more than.
@mixin bp-min( $point ) {
  @media only screen and ( min-width: $point ){
    @content;
  }
}

ul.is-layout-flow,
ul.is-layout-constrained,
ul.is-layout-grid {
	gap: $kyom-gap;
	padding-left: $kyom-gap !important;
	padding-right: $kyom-gap !important;
}
