{
	"env": {
		"browser": true,
		"jquery": true,
		"es2021": true
	},
	"extends": "@wordpress/eslint-plugin/recommended-with-formatting",
	"globals": {
		"UIkit": "readonly",
		"Netabare": "readonly",
		"wp": "readonly"
	}
}
