.tmkm-amazon {

	&-view {

		margin-top: 3em !important;
		margin-bottom: 3em !important;
		padding: 2em !important;
		border: 1px solid $global-border !important;
		font-size: $global-small-font-size !important;

		margin-left: auto;
		margin-right: auto;
		max-width: 630px;



		p {
			text-indent: 0;
		}

		small {
			display: inline-block;
			margin-left: 0.5em;
			background: $body-font-emphasis-color;
			padding: 0.25em;
			color: #fff;
		}

		.tmkm-amazon-img {
			a img {
				padding: 0 !important;
				border: none !important;

				@include bp-max($breakpoint-small) {
					display: block;
					margin-right: auto;
					margin-left: auto;
					float: none;
				}
			}
		}
	}

	&-title {
		margin-bottom: 1em !important;
		a {
			text-decoration: none !important;
		}
	}

	&-price-number {
		color: $alert-danger-color !important;
		font-weight: $base-strong-font-weight	;
	}

	&-label {
		color: $global-muted-color;
	}

	&-row {
	}

	&-value {
		font-weight: $base-body-font-weight !important;
		color: $body-font-emphasis-color;
		text-emphasis: none !important;
	}

	&-actions {
		margin-top: 2em !important;
		margin-bottom: 1em !important;
	}

	&-btn {
		font-size: $kyom-font-size-xs !important;
	}

	&-image {
		max-height: 250px !important;
		max-width: 200px !important;
	}

	&-vendor {
		text-align: center !important;
	}

}

.hamazon-message{
	@extend .uk-alert-danger;
	font-size: 0.85em;
	font-family: $font-sans;
	padding: 1em;
	margin: 1em 0;
}

