@import "kyom/variables";
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "kyom/mixins/animation";
@import "kyom/mixins/night_shift";
@import "kyom/mixins/layout";
@import "kyom/mixins/post_style";

body {
}

.wp-block-image {
	text-align: center;
}

figcaption {
	margin: 5px 0 0;
	text-align: center;
	font-size: 0.85em;
	color: $gray;
	font-family: $font-sans;
}

table {
	table-layout: auto;
	width: 100%;
	font-family: $font-sans;
	border-collapse: collapse;
}


th,
td {
	padding: 0.5em;
	border: 1px solid $global-border;
}

.amp-wp-article-featured-image {
	position: relative;

	&::before {
		content: "";
		display: block;
		padding-top: 75%;
	}

	amp-img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.amp-wp-article-content {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-sans;
	}

	> p {
		text-align: justify;
		text-justify: inter-ideograph;
	}

	pre {
		padding: 1em;
		background-color: $light-gray;
		overflow-x: scroll;
	}
}

.kyom-amp-return {
	text-align: center;
	margin: 1em 0;

	a {
		font-family: $font-amp-sans;
		display: inline-block;
		padding: 0.75em 1em;
		border: 2px solid transparent;
		background-color: #fff;
		border-radius: 3px;
		@include kyom-transition((color, background-color));

		&:link, &:visited {
			text-decoration: none;
		}

		&:hover, &:active {
			text-decoration: none;
			color: #fff;
		}
	}
}


.amp-read-more-link {
	display: block;
	padding: 1em;
	font-size: 1.4em;

	.fa {
		margin-right: 0.25em;
	}

	background-color: transparent;
	color: #fff;
	transition: opacity .3s $ease-in-out-sine;
	@each $key, $value in $socials-colors {
		&-#{$key} {
			background-color: $value;
		}
	}

	&:link, &:visited {
		text-decoration: none;
		color: #fff;
	}

	&:hover, &:active {
		text-decoration: none;
		opacity: .7;
		color: #fff;
	}
}

.tmkm-amazon {

	&-view {
		font-family: $font-amp-sans;
		margin: 40px 0;
		padding: 20px;
		background-color: $slightly-gray;
		border: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, .4);

		p {
			margin: 0.5em 0;
		}

		amp-img,
		img {
			max-width: 160px;
			width: auto;
			height: auto;
			display: block;
			margin: 10px auto;
		}

		.vendor {
			font-size: 0.85em;
			text-align: center;
		}
	}

	&-title {
		font-size: 1.2em;
		font-weight: bold;

		a:link, a:visited {
			color: $body-font-emphasis-color;
			text-decoration: none;
		}

		a:hover, a:active {
			color: $global-link-color;
			text-decoration: none;
		}

		small {
			display: inline-block;
			margin-left: 0.25em;
			padding: 0.25em;
			background-color: $body-font-color;
			color: #fff;
		}

		& ~ p {
			font-size: 0.85em;

			em {
				font-size: $body-font-emphasis-color;
				font-weight: bold;
				font-style: normal;
			}
		}
	}

	&-label {
		color: $gray;
		margin-right: 0.5em;
		display: inline-block;
		width: 6em;
	}

	&-actions {
		text-align: center;
	}

	&-btn {
		display: inline-block;
		min-width: 120px;
		padding: 5px 10px;
		color: #F90;
		border: 1px solid #F90;
		background-color: transparent;
		border-radius: 3px;
		transition: color .3s ease-in-out, background-color .3s ease-in-out;
		text-decoration: none;

		&:hover,
		&:active {
			background-color: #f90;
			color: #fff;
			text-decoration: none;
		}
	}
}

.kyom-amp-container {
	padding: 20px;
}

.amp-related-item {

	a {
		border-bottom: 1px solid $light-gray;

		&:first-child {
			border-top: 1px solid $light-gray;
		}

		display: flex;
		@include kyom-transition((color, background-color));
		padding: 10px;

		&:link, &:visited {
			text-decoration: none;
			color: #000;
			background-color: #fff;
		}

		&:hover, &:active {
			text-decoration: none;
			color: $global-link-color;
			background: $slightly-gray;
		}
	}

	&-title {
		display: block;
		font-size: 16px;
		flex: 1;

		amp-img + & {
			padding-left: 10px;
		}

		small {
			display: block;
			text-align: right;
			color: $gray;
		}
	}
}

.sd-title {
	text-align: center;
	font-family: $font-sans;
	position: relative;
	margin-top: 30px;
	padding-top: 30px;
	font-size: 18px;
	font-weight: bold;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		height: 1px;
		width: 80px;
		margin-left: -40px;
		background-color: #000;
	}
}

.sd-content,
.amp-ad-container {
	text-align: center;
}

.amp-footer-content {
	padding: 20px;
	text-align: center;
	font-family: $font-amp-sans;
}

.amp-ad-container {
	iframe {
		background-color: $slightly-gray;
	}
}
