/**
 * Editor Styles
 *
 * @package kyom
 */

// 1. Your custom variables and variable overwrites.
@import "kyom/variables";
@import "kyom/mixins/*";

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// ネタバレブロックのエディタースタイル
.wp-block-group.netabare {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		border: 2px dashed $global-warning-background;
		border-radius: 4px;
		left: -1em;
		right: -1em;
		top: -1em;
		bottom: -1em;
	}

	&::after {
		content: "ネタバレ" !important; // コアのフォーカスとかぶっている
		position: absolute;
		top: -2em !important;
		left: 0 !important;
		right: auto !important;
		bottom: auto !important;
		background-color: $global-warning-background;
		color: #fff;
		padding: 2px 8px;
		font-size: 12px;
		font-weight: bold;
		border-radius: 3px;
		z-index: 1;
	}
}
