%kyom-form-p{
  label{
    font-weight: bold;
    display: block;
    &.inline{
      display: inline-block;
      font-weight: normal;
      margin-right: 0.5em;
      input + &{
        margin-left: 0.25em;
      }
    }
  }

  input[type=text],
  input[type=url],
  input[type=tel],
  input[type=email],
  input[type=number],
  input[type=password],
  select,
  textarea{
    box-sizing: border-box;
    width: 100%;
  }
}

.kyom-widget-control{
  @extend %kyom-form-p;
}

.kyom-admin-setting-field{
  @extend %kyom-form-p;
}